DataSyncApi/vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
DataSyncApi/bootstrap/compiled.php
DataSyncApi/app/storage/

# Laravel 5 & Lumen specific
DataSyncApi/public/storage
DataSyncApi/public/hot
DataSyncApi/storage/*.key
DataSyncApi/.env.*.php
DataSyncApi/.env.php
DataSyncApi/.env
DataSyncApi/Homestead.yaml
DataSyncApi/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
